{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (sustainable, energy, etc)" value="{{ values.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Term</label>
                <select name="term" class="form-control">
                <option selected="true" disabled="disabled">Term Months (All)</option>
                 {% for key,value in term_choices.items %}
                 <option value="{{ key }}">{{ value }}</option>
                 {% endfor %}
                </select>
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Industry</label>
                <select name="industry" class="form-control">
                <option selected="true" disabled="disabled">Industry (All)</option>
                 {% for key,value in industry_choices.items %}
                 <option value="{{ key }}">{{ value }}</option>
                 {% endfor %}
                </select>
              </div>
            </div>

            <!-- Form Row 2 -->
         <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Interest</label>
                <select name="annual_interest" class="form-control">
                  <option selected="true" disabled="disabled">Annual Interest (All)</option>
                  {% for key,value in interest_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="minimum_investment" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Minimum Investment (Any)</option>
                  {% for key,value in minimum_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'offerings' %}">Browse offerings</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- offerings -->
  <section id="offerings" class="py-4">
    <div class="container">
      <div class="row">
        {% if offerings %}
        {% for offering in offerings %}
          <!-- Offerings -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card offering-preview">
              <img class="card-img-top" src="{{ offering.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ offering.offering_size | intcomma }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="offering-heading text-center">
                  <h4 class="text-primary">{{ offering.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{offering.industry }} <hr> {{ offering.category }} <hr> {{ offering.location }} </p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-percent"></i> {{ offering.annual_interest }} Return</div>
                    <div class="col-6">
                      <i class="fas fa-calendar"></i> {{ offering.term }} months</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-university"></i> Min: ${{ offering.minimum_investment | intcomma}}</div>
                    <div class="col-6">
                      <i class="fa fa-briefcase"></i> Funded: ${{ offering.current_funded | intcomma }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> {{ offering.affiliate }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ offering.offer_date | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'offering' offering.id %}" class="btn btn-primary btn-block equal">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No offerings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}