{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Wealth Alchemy</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>The only place where you can find the perfect investment!</h2>
        <p class="lead">Whether you would like to retire early or insulate your portfolio against an uncertain stock market, our goal is to help you grow and protect your wealth.</p>
        <img src="{% static 'img/about.jpg' %}" alt="">
        <p class="mt-4"></p>
      </div>
      <div class="col-md-4">
          {% if mvp_affiliates %}
            {% for affiliate in mvp_affiliates %}
            <div class="card">
                <img class="card-img-top" src="{{ affiliate.photo.url }}" alt="Affiliate of the month">
                <div class="card-body">
                  <h5 class="card-title">Affiliate Of The Month</h5>
                  <h6 class="text-secondary">{{ affiliate.name }}</h6>
                  <p class="card-text">{{ affiliate.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">Access to the Best Investments!</h2>
  <h4>Setting up multiple income streams is the formula to financial freedom!</h4>
  <hr>
  <a href="{% url 'offerings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Offerings</a>
</section>

    <!-- Affiliates -->
    <section id="team" class="py-5">
        <div class="container">
         <h2 class="text-center mb-3">Our Partners & Affiliates</h2>
         <br>
          <div class="row">
              {% if affiliates %}
              {% for affiliate in affiliates %}
              <div class="col-md-6 col-lg-4 mb-4 equal">
                  <div class="card offering-preview">
                      <div class="card-body">
                      <img src="{{ affiliate.photo.url }}" alt="" class="mb-3">
                      </div>
                      <div class="text-center">
                        <h4 class="text-primary">{{ affiliate.name }}</h4>
                        <p>
                            <i class="fas fa-phone"></i> {{ affiliate.phone }} </p>
                            <p>
                                <i class="fas fa-envelope-open"></i> {{ affiliate.email }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="col-md-12">
                <p>No Affiliates Available</p>
              </div>
            {% endif %}
          </div>
        </div>
      </section>

{% endblock %}